/* Welcome */
.wrapper {
  border : 2px solid #000;
}

.wrapper div {
   min-height: 200px;
   padding: 10px;
}
#text {
  margin-left: 150px;
  background-color: gray;
  float:left;
  margin-right:30px;
  width: 500px;
  border-right:2px solid #000;
}
#image {
  background-color: white;
  overflow:hidden;
  margin-right:150px;
  border:2px dashed #ccc;
  width: 100%;
}

@media screen and (max-width: 680px) {
#text {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;
  }
}

h2 {
  color: #53CBFB;
}
