#contentbackground {
  background-color: #062035;
  height: 460px;
  width: 100%;
  padding-left: 16px;
  margin-left: -8px;
}

#content {
  margin-left: 150px;
  margin-right: 150px;
  display: inline-block;
}

#contentname {
  width:  670px;
  text-align: justify;
}

.first {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

#mockup {
  flex: 1;
}

#wrapper {
  display: flex;
  height: auto;
  margin: 0 auto;
  gap: 5px;
  padding-top: 10px;
}

#content_1 {
  flex: 1;
}

#content_2 {
  flex: 1;
}

#content_3 {
  flex: 1;
}

h1 {
  font-size: 55px;
}
h2 {
  font-size: 30px;
  color: #53CBFB;
}
p {
  font-size: 16px;
  line-height: 30px;
}

/* Book */
main {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    position: relative;
    width: 600px;
    height: 500px;
    transition: transform 0.5s;
    z-index:-1;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1000px;
}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10%;
    transition: transform 0.5s;
    z-index:-1;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 20;
}
#p2 {
    z-index: 19;
}
#p3 {
    z-index: 18;
}
#p4 {
    z-index: 17;
}
#p5 {
    z-index: 16;
}
#p6 {
    z-index: 15;
}
#p7 {
    z-index: 14;
}
#p8 {
    z-index: 13;
}
#p9 {
    z-index: 12;
}
#p10 {
    z-index: 11;
}
#p11 {
    z-index: 10;
}
#p12 {
    z-index: 9;
}
#p13 {
    z-index: 8;
}
#p14 {
    z-index: 7;
}
#p15 {
    z-index: 6;
}
#p16 {
    z-index: 5;
}
#p17 {
    z-index: 4;
}
#p18 {
    z-index: 3;
}
#p19 {
    z-index: 2;
}
#p20 {
    z-index: 1;
}

#salekit {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.salekit {
    position: relative;
    width: 488px;
    height: 500px;
    transition: transform 0.5s;
    z-index:-1;
}

.salekitpaper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1000px;
}

/* Paper stack order */
#salekit-p1 {
    z-index: 27;
}
#salekit-p2 {
    z-index: 26;
}
#salekit-p3 {
    z-index: 25;
}
#salekit-p4 {
    z-index: 24;
}
#salekit-p5 {
    z-index: 23;
}
#salekit-p6 {
    z-index: 22;
}
#salekit-p7 {
    z-index: 21;
}
#salekit-p8 {
    z-index: 20;
}
#salekit-p9 {
    z-index: 19;
}
#salekit-p10 {
    z-index: 18;
}
#salekit-p11 {
    z-index: 17;
}
#salekit-p12 {
    z-index: 16;
}
#salekit-p13 {
    z-index: 15;
}
#salekit-p14 {
    z-index: 14;
}
#salekit-p15 {
    z-index: 13;
}
#salekit-p16 {
    z-index: 12;
}
#salekit-p17 {
    z-index: 11;
}
#salekit-p18 {
    z-index: 10;
}
#salekit-p19 {
    z-index: 9;
}
#salekit-p20 {
    z-index: 8;
}
#salekit-p21 {
    z-index: 7;
}
#salekit-p22 {
    z-index: 6;
}
#salekit-p23 {
    z-index: 5;
}
#salekit-p24 {
    z-index: 4;
}
#salekit-p25 {
    z-index: 3;
}
#salekit-p26 {
    z-index: 2;
}
#salekit-p27 {
    z-index: 1;
}
