@charset "UTF-8";

/* UTILITIES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 50px;
  float: left;
  margin-left: 150px;
}
* {
    box-sizing: border-box;
  }

body {
  margin: 0px;
  flex-direction: wrap;
  font-family: 'Montserrat', sans-serif;
}

.nav {
  width: 100%;
  background-color: #0C243C;
  position: fixed;
  height: 60px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px 0 2px 10px;
}

.nav > .nav-btn {
  display: none;
  margin-right: 150px;

}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  margin-right: 150px;
}
.nav > .nav-links > ul li a{
  display: block;
  padding: 0 20px;
  color: #fff;
  line-height: 40px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}
.nav > .nav-links > ul{
  padding: 0;
  margin-top: 5px;
  list-style: none;
  position: relative;
}
.nav > .nav-links > ul li{
  display: inline-block;
  background-color: #0C243C;
}
.nav > .nav-links > ul li:hover{
  background-color: #55C2C3;
  border-radius: 5px;
}

.nav > #nav-check {
  display: none;
}

.nav .nav-links ul a.icon{
  margin-left: 80px;
  margin-right: 10px;
}

.nav .nav-links ul a i{
  background-color: #fff;
  border-radius: 50px;
  padding: 7px;
  margin-left: 5px;
}


@media (max-width: 680px) {
.nav > .nav-btn {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}
.nav > .nav-btn > label {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 13px;
}
.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
  background-color: rgba(0, 0, 0, 0.3);
}
.nav > .nav-btn > label > span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #eee;
}
.nav > .nav-links {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #0C243C;
  height: 0px;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  top: 50px;
  left: 0px;
}
.nav > .nav-links > ul li a {
  display: block;
}

    /*   */

.nav > .nav-links > ul li{
  display: block;
  margin-bottom: 20px;
  padding: 0;
  background-color: #0C243C;
}
.nav > .nav-links > ul li a{
  margin-left: 0%;
}
.nav .nav-links ul a.icon{
  margin-left: 33%;
}

/*   */
.nav > #nav-check:not(:checked) ~ .nav-links {
  height: 0px;
}
.nav > #nav-check:checked ~ .nav-links {
  height: calc(100vh - 50px);
  overflow-y: auto;
}
}

.menu-btn {
  background-color: #0C243C;
  color: white;
  padding: 5px;
  font-size: 20px;
  font-weight: bolder;
  border: none;
}
.dropdown-menu {
  position: relative;
  display: inline-block;
}
.menu-content {
   display: none;
   position: absolute;
   background-color: #7E8C9C;
   min-width: 160px;
   z-index: 1;
}

.links,.links-hidden{
   display: inline-block;
   color: rgb(255, 255, 255);
   padding: 12px 16px;
   text-decoration: none;
   font-size: 18px;
   font-weight: bold;
}
.links-hidden{
   display: block;
}
.links{
   display: inline-block;
}
.links-hidden:hover,.links:hover {
   background-color: #55C2C3;
}
.dropdown-menu:hover .menu-content {
   display: block;
}
.dropdown-menu:hover .menu-btn {
}

/* Content */
#contents {

}

/* Footer */
.footer {
  text-align: center;
  padding-top: 20px;
  color: #000000;
  font-size: 16px;
  position: relative;
  bottom: 10px;
  width: 100%;
}
