#content {
  margin-left: 120px;
  margin-right: 120px;
  display: inline-block;
}

#contentname {
  width: 90%;
  text-align: justify;
}

h1 {
  font-size: 60px;
}
p {
  font-size: 17px;
  line-height: 25px;
}

/* Book */
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    position: relative;
    width: 488px;
    height: 500px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1000px;

}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 80px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 28;
}
#p2 {
    z-index: 27;
}
#p3 {
    z-index: 26;
}
#p4 {
    z-index: 25;
}
#p5 {
    z-index: 24;
}
#p6 {
    z-index: 23;
}
#p7 {
    z-index: 22;
}
#p8 {
    z-index: 21;
}
#p9 {
    z-index: 20;
}
#p10 {
    z-index: 19;
}
#p11 {
    z-index: 18;
}
#p12 {
    z-index: 17;
}
#p13 {
    z-index: 16;
}
#p14 {
    z-index: 15;
}
#p15 {
    z-index: 14;
}
#p16 {
    z-index: 13;
}
#p17 {
    z-index: 12;
}
#p18 {
    z-index: 11;
}
#p19 {
    z-index: 10;
}
#p20 {
    z-index: 9;
}
#p21 {
    z-index: 8;
}
#p22 {
    z-index: 7;
}
#p23 {
    z-index: 6;
}
#p24 {
    z-index: 5;
}
#p25 {
    z-index: 4;
}
#p26 {
    z-index: 3;
}
#p27 {
    z-index: 2;
}
#p28 {
    z-index: 1;
}
