/*
---------------------------------------------
welcome
---------------------------------------------
*/
.text_section {
  margin-top: 50px;
}
.welcome_section {
  width: 100%;
  height: 500px;
  background-image: url(../images/student-work.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.welcome_section h2 {
  font-size: 125px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

/*
---------------------------------------------
text
---------------------------------------------
*/
.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}


.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.container_fluid {
  margin-top: 80px;
}

.custom_dark-btn-resume, .custom_orange-btn {
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  width: 300px;
  outline: none;
  color: #f7f7f7;
  border: 1px solid transparent;
}

.custom_dark-btn-resume {
  background-color: #55C2C3;
}

.custom_dark-btn-resume:hover {
  color: #ffffff;
  background-color: #0C243C;
}

.custom_heading {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.custom_heading-text {
  text-align: center;
}

/*---------------------------------*/


/* Create two equal columns that sits next to each other */
.container-images {
  margin-top: 50px;
}
.column-images {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px 0 15px;
}

.column-images img {
  margin-top: 8px;
  vertical-align: middle;
}

.column-images_2 {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 15px 0 4px;
}

.column-images_2 img {
  margin-top: 8px;
  vertical-align: middle;
}
